[req]
distinguished_name = req_distinguished_name
req_extensions = v4_req
prompt = no

[req_distinguished_name]
CN = v4_req
C = US
ST = SC
L = TegaCay
O = MyOrg
OU = IT


[v4_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = opensearch-node1
DNS.2 = opensearch-node2
DNS.3 = localhost
DNS.3 = dev.ngb.com
IP.1 = 127.0.0.1